@charset "UTF-8";
@media print {
    body {
        background-color: white;
        color: black;
    }
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url(../img/img.jpg);
    background-color: lightsteelblue;
    background-attachment: scroll;
    background-position: left-top;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}

nav {
    margin-bottom: 0;
    margin-right: auto;
    margin-top: 0px;
    margin-left: auto;
    transition-property: 120px;
    width: 600px;
    position: relative;
    padding: 2px;
    height: 100px;
    box-sizing: border-box;
}

nav li {
    padding: 2px;
    margin-right: 10px;
    list-style-type: none;
    background-color: #4d7e6f;
    display: inline;
}

h2 {
    text-align: center;
}

table {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    border: 2px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    margin-left: 20px;
    text-align: center;
    font-size: 1.25em;
}

tr.strike td {
    position: relative;
}

tr.strike td {
    background-color: red;
    color: white;
}

tr:nth-child(odd) {
    background-color: whitesmoke;
    color: black;
}

tr:nth-child(even) {
    background-color: grey;
    color: black;
}

tr:nth-child(1) {
    filter: invert(100%);
}

th.date-time {
    width: 100px;
}

p {
    width: auto;
    border: 10px;
    padding: 20px;
    margin: 40px;
    color: black;
    font-variant: normal;
    font-family: Times New Roman, Times, serif;
    height: 50px;
}