@charset "utf-8";
html, body {
    box-sizing: border-box; 
    height: 100%;
    width: 100%;
    }

    @media print {
    	body { background-color white; }
    }

    header{
    	height: 150px;
    	background-color: rgba(70, 130, 180, 0.5);
    	margin-left: auto;
    	margin-right: auto;

    }

    nav{
    	margin-bottom: 0;
    	margin-right: auto;
    	margin-top: 0;
    	margin-left: auto;
    	transition-property: 120px;
		width: 600px;
		position: relative;
    	padding: 2px;
    	height: 100px;
    	box-sizing: border-box;


    }

    nav > ul > li {
    padding: 2px;
    margin-right: 10px;
	list-style-type: none;
    background-color: #4d7e6f;
    display: inline;
    
}

    article {
    	padding: 20px;
    }
    

    body{

    	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
		background-image: url(img.JPG);
		background-color: lightsteelblue;
		background-attachment: scroll;
		background-position: left-top;
    	background-repeat: no-repeat;
    	background-size: cover;
    	margin: 0;
    	padding: 0;
    	



    }

    

    a:hover {
  background-color: steelblue;
}

    h1{
    	color: black;
    	text-transform: uppercase;
    	text-shadow: 4px 4px lightgray;

    }

    tr:nth-child(even){
    	background-color: #c1cacc;
    }

    